.btns-panel {
    position: absolute;
    right: 2vw;
    bottom: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
        position: relative;
        width: 35px;
        height: 35px;
        margin: 10px;
        padding: 0;
        border: none;
        background: none;
        transition: transform .2s;
        cursor: pointer;
    
        img {
            position: relative;
            width: 100%;
            height: 100%;
        }
        
        &:focus {
            outline:0;
        }
    
        &:hover {
            transform: scale(1.3);
        }
        
        &.btn_small {
            padding: 4px;
        }

    }

}
