.game-add-form {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    opacity: 0;
    transition: .2s;

    z-index: 11;
    pointer-events: none;

    &__blackout {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,.9);
    }

    form {
        position: relative;
        display: flex;
        flex-direction: column;
        border-radius: 7px;
        padding: 8px;
        background:rgba(0,0,0,.6);
        z-index: 12;
        -webkit-box-shadow: 0px 0px 5px 0px rgba(255,255,255,.5);
        -moz-box-shadow: 0px 0px 5px 0px rgba(255,255,255,.5);
        box-shadow: 0px 0px 5px 0px rgba(255,255,255,.5);

        label {
            color: white;
            font-size: 18px;
            padding: 5px;
        }

        input {
            position: relative;
            width: 100%;
            box-sizing: border-box;
            padding: 6px;
            border: 1px solid rgba(0,0,0,.5);
            background: rgba(255,255,255,.8);

            &[type=submit] {
                cursor: pointer;
            }
            &:focus {
                outline: none;
            }
        }
    }

    &__visible {
        opacity: 1;
        pointer-events: visible;
    }
}