.game-element {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    text-decoration: none;
    align-items: center;
    color: white;
    width: max-content;
    transition: color .2s;
    
    &__rating {
        position: relative;
        display: flex;
        // height: 16px;
        line-height: 16px;
    
        &:before {
            content: "";
            display: flex;
            position: relative;
            width: 16px;
            height: 16px;
            background-image: url("./../../assets/imgs/sep.png")
        }
        &:after {
            content: "";
            display: flex;
            position: relative;
            width: 16px;
            height: 16px;
            background-image: url("./../../assets/imgs/sep.png")
        }
    }

    span, div {
        pointer-events: none;
    }

    &:hover {
        color: lightseagreen;
    }
}