.games {
  position: relative;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  width: max-content;
  top: 18%;
  height: min-content;
  max-height: 60%;
  border-radius: 3px;
  background-color: rgba(29, 45, 29, 0.5);
  color: #8f98a0;
  padding: 45px 12px 12px 12px;
  cursor: default;
  overflow: hidden;
  border: none;

  & > h1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 98%;
    margin: 0;
    padding: 3px 1%;
    line-height: 25px;
    font-size: 25px;
    background: linear-gradient(90deg, rgba(33, 78, 76, 0.93) 0%, transparent 90%);
    color: darkgray;
  }

  &__symbol-counter {
    position: relative;
    float: right;
    font-size: 14px;
    line-height: 25px;
    padding-right: 5px;
    opacity: 0.8;

    &.warning {
      color: #ff6600;
    }

    &.error {
      color: #cc0000;
    }
  }

  &__list {
    position: relative;
    height: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    overflow-x: hidden;
    overflow-y: auto;
    resize: none;
    border: none;
    color: white;

    &::-webkit-scrollbar {
      width: .25em;
    }

    &::-webkit-scrollbar-track {
    }

    &::-webkit-scrollbar-thumb {
      background-color: gray;
      outline: 1px solid gray;
      opacity: .7;
      border-radius: 2px 0 0 2px;
    }
  }

  //mod class
  &__fixed-h {
    cursor: auto !important;
    height: 60% !important;
  }
}
