.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background: black;
    z-index: -1;
}
.background video,
.background img {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}
